# client ignores
client/Logs/*
client/Temp/*
client/UserSettings/*
client/.vsconfig
client/client.sln
client/Library/*
client/.svn/*
client/Assets/*

# server ignores
servers/.vs/*
servers/bin/*
servers/obj/*
client/Assembly-CSharp.csproj
client/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
