# client ignores
client/Logs/*
client/Temp/*
client/UserSettings/*
client/.vsconfig
client/client.sln
client/Library/*
client/.svn/*
client/Assembly-CSharp.csproj
client/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json

# track only scripts
client/Assets/*
!client/Assets/Scripts

# common source ignores
src/*/.vs/*
src/*/bin/*
src/*/obj/*
src/*/.editorconfig